/* parent page */

.mainBody{
    height: 100%;
    text-align: center;
    padding: 2%;
}

.arrow{
    background-color: white;
    display: inline-block;
    height: 100%;
    line-height: 100%;
    margin: auto;
    text-align: center;
    vertical-align: top;
    width: 5%;
}

.arrow:hover{
    background-color: lightgray;
}

.arrow img{
    max-width: 100%;
    vertical-align: middle;
}

.content{
    border-radius: 5%;
    display: inline-block;
    height: 100%;
    width: 85%;
    vertical-align: top;
    overflow: auto;
}

/* end parent page */

/* pre-survey page */

survey-title{
    margin: auto;
}

.presurvey{
    width: 90%;
    margin: auto;
    border-radius: 5%;
    padding: 5%;
}

form *{
    height: 2em;
    word-wrap: break-word;
    margin: 1%;
    vertical-align: middle;
}

form label{
    font-weight: bold;
    margin: 0.5%;
}

.formText{
    width: 50%;
    border-radius: 20px;
    margin-left: 20px;
    padding: 1%;
}

.religion{
    width: 25%;
    margin-left: 1%;
}

.reason{
    margin-left: 0;
    width: 75%;
}

.formRadio{
    width: 1.5em;
    margin: 0.5%
}

.submit-form{
    float: right;
    width: 10%;    
}

/* end of pre-survey page */

/* user select page */

.user-body{
    padding: 5%;
}

.search-filter{
    height: 2em;
    width: 90%;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 1%;
    padding: 1%;
    text-align: center;
}

.user{
    width: 70%;
    border: darkgray solid 1.5px;
    border-radius: 20px;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    font-size: 1.5em;
}

.user:hover{
    background-color: lightgray;
}

/* end of user select page */

.helper{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.argument{
    min-height: 50%;
}

.point{
    padding: 2%;
    padding-top: 0.5%;
    font-size: 1.5em;
}

.bullet{
    text-align: justify;
    padding-right: 2%;
    font-size: 1.5em;
}

.title{
    display: inline-block;
    text-align: center;
    font-weight: bold;
    font-size: 4em;
}

.subtitle{
    display: block;
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}

.emotion{
    border: 1.5px solid gray;
    height: 10%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    vertical-align: bottom;
}

.emotion div{
    border: 1px solid gray;
    display: inline-block;
    margin: auto;
    padding-top: 2.5%;
    height: 80%;
    width: 21%;
    vertical-align: middle;
    text-align: center;
    line-height: 80%;
    cursor: pointer;
}

.emotion div:hover{
    background-color: lightgray;
}

/* choice page */
.choice{
    margin: 2%;
    border-radius: 10%;
    display: inline-block;
    height: 50%;
    width: 25%;
    vertical-align: top;
    text-align: center;
    font-size: 30%;
    font-weight: 300;
    border: solid 2px darkgray;
    background-color: white;
    color: darkgray;
}

.choice:hover{
    background-color: lightgray;
    color: white;
    cursor: pointer;
}

.choiceActive{
    background-color: darkgray;
    color: white;
}

.choice img{
    max-width: 80%;
    vertical-align: middle;
}

#reason{
    resize: none;
    width: 80%;
    margin: auto;
    border: solid 1px darkgray;
    min-height: 5em;
}
/* end choice page */

/* hilman page */
.hilmanIframe{
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
