<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Angular/CSS/jQuery -->
        <script src='/js/angular/angular.min.js'></script>
        <script src='/js/angular/angular-route.min.js'></script>
        <script src='/js/jquery/jquery-3.4.1.min.js'></script>
        <link rel='stylesheet' href='/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/main.css'>
        <script src='/js/bootstrap/bootstrap.min.js'></script>
        <!-- Chart stuff -->
        <script src="/node_modules/chart.js/dist/Chart.min.js"></script>
        <script src="/node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    </head>
    <body ng-app='chartApp' ng-controller='chartCtrl as vm'>
        <div>{{vm.message}}</div>
        <div>{{vm.chartSettings}}</div>
        <input type="checkbox" ng-model="vm.angular" ng-change="vm.initManual(vm.angular)">
<!--        <div ng-if="vm.angular">
            <div id='chartParent'>
                <canvas class="chart chart-line" chart-data="vm.data" chart-labels="vm.chartSettings.labels" chart-series="vm.chartSettings.series" chart-options="vm.chartSettings.options" chart-dataset-override="vm.chartSettings.datasetOverride"></canvas>
            </div>
            <div ng-repeat="data in vm.data track by $index">
                <input id="data-{{$index}}" type="number" ng-model="data" ng-blur="vm.update($index, data)">
            </div>
        </div>-->
        <div>
            <canvas id="myChart"></canvas>
            <div id="chartInput">
            </div>
        </div>
        <div>
            <chart-dir chart-id="dirChart" chart-type="bar" input-id="dirInput" data="vm.testData" options="vm.testOptions">
                
            </chart-dir>
        </div>
        
        <script src='/controller/chartController.js'></script>
        <script src='/directive/chartDirective.js'></script>
        <script src='/router/chartRouter.js'></script>
    </body>
</html>
