<html>
    <head>
        <title>Pre-survey</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='/js/angular/angular.min.js'></script>
        <script src='/js/angular/angular-route.min.js'></script>
        <script src='/js/jquery/jquery-3.4.1.min.js'></script>
        <link rel='stylesheet' href='/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/main.css'>
        <script src='/js/bootstrap/bootstrap.min.js'></script>
        <script></script>
    </head>
    <body>
        <div class="presurvey card">
            <br>
            <h2 class="survey-title">Pre-Survey Form</h2><br>
            <hr>
            <br>
            <form action="/submit" method="post">
                <label>Full name: </label><input type="text" maxlength="255" class="formText" name="name" required pattern='[a-zA-Z0-9 ]+' title='Only letters and numbers please'>
                <br><label>Matrix Number: </label><input type="text" maxlength="255" class="formText" name="matrix" required pattern='[a-zA-Z0-9 ]+' title='Only letters and numbers please'>
                <br><label>What is your English proficiency?</label>
                <br><span>Not at all </span>
                <input type="radio" name="fluency" class="formRadio radio-inline" value="1" required>
                <input type="radio" name="fluency" class="formRadio radio-inline" value="2">
                <input type="radio" name="fluency" class="formRadio radio-inline" value="3">
                <input type="radio" name="fluency" class="formRadio radio-inline" value="4">
                <input type="radio" name="fluency" class="formRadio radio-inline" value="5">
                <input type="radio" name="fluency" class="formRadio radio-inline" value="6">
                <span> Fluent</span>
                <br>
                <br><label>Religion: </label>
                <br><input type="radio" name="religion" ng-model='religion' class="formRadio radio-inline" value="Christianity" required><span>Christianity</span>
                <br><input type="radio" name="religion" ng-model='religion' class="formRadio radio-inline" value="Buddhism"><span>Buddhism</span>
                <br><input type="radio" name="religion" ng-model='religion' class="formRadio radio-inline" value="Hinduism"><span>Hinduism</span>
                <br><input type="radio" name="religion" ng-model='religion' class="formRadio radio-inline" value="Islam"><span>Islam</span>
                <br><input type="radio" name="religion" ng-model='religion' class="formRadio radio-inline" value="None"><span>None</span>
                <br><input type="radio" name="religion" ng-model='religion' class="formRadio radio-inline" value=""><input type="text" maxlength="255" name="religion" class="formText religion" placeholder='Other' pattern='[a-zA-Z0-9 ]+' title='Only letters and numbers please'><br>
                <hr><label>Do you support LGBT? </label>
                <br><input type="radio" name="lgbt" class="formRadio radio-inline" value="Yes" required><span>Yes</span>
                <br><input type="radio" name="lgbt" class="formRadio radio-inline" value="No"><span>No</span>
                <br><input type="radio" name="lgbt" class="formRadio radio-inline" value="Neutral"><span>Neutral</span>
                <br><label>Give a reasoning for your choice</label><br><input type="text" maxlength="255" class="formText reason" name="reasoning" pattern='[a-zA-Z0-9 ]+' title='Only letters and numbers please'><br>
                <br><label>How much faith do you have in your religion? (0 if you put 'none')</label>
                <br><span>Not at all </span>
                <input type="radio" name="faith" class="formRadio radio-inline" value="1" required>
                <input type="radio" name="faith" class="formRadio radio-inline" value="2">
                <input type="radio" name="faith" class="formRadio radio-inline" value="3">
                <input type="radio" name="faith" class="formRadio radio-inline" value="4">
                <input type="radio" name="faith" class="formRadio radio-inline" value="5">
                <input type="radio" name="faith" class="formRadio radio-inline" value="6">
                <span> Absolute</span>
                <br>
                <hr>
                <br><label>Homosexuality is one of the main causes of HIV/AIDS</label>
                <br><input type="radio" name="HIV" class="formRadio radio-inline" value="Yes" required><span>Yes</span>
                <br><input type="radio" name="HIV" class="formRadio radio-inline" value="No"><span>No</span><br>
                <br><label>We should support organizations that are against homosexuals and LGBT activities</label>
                <br><input type="radio" name="support" class="formRadio radio-inline" value="Yes" required><span>Yes</span>
                <br><input type="radio" name="support" class="formRadio radio-inline" value="No"><span>No</span><br>
                <br><label>We should not support Sharia Law as it includes drastic and severe punishments such as, amputation and death by stoning</label>
                <br><input type="radio" name="sharia" class="formRadio radio-inline" value="Yes" required><span>Yes</span>
                <br><input type="radio" name="sharia" class="formRadio radio-inline" value="No"><span>No</span><br>
                <br><br>
                <input type="submit" name="submit" value="Submit" class="submit-form btn">
            </form>
        </div>
    </body>
</html>
