<html>
    <head>
        <title>Experiment Trial</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src='/js/angular/angular.min.js'></script>
        <script src='/js/angular/angular-route.min.js'></script>
        <script src='/js/jquery/jquery-3.4.1.min.js'></script>
        <link rel='stylesheet' href='/css/bootstrap.min.css'>
        <link rel='stylesheet' href='/css/main.css'>
        <script src='/js/bootstrap/bootstrap.min.js'></script>
        <script></script>
    </head>
    <body ng-app='myApp' ng-controller='trialController'>
        <div class='mainBody'>
            <div class='arrow' ng-click='page > 1 && pageChange(-1)'>
                <span class='helper'></span><img src='/img/left-arrow.png' alt='Left arrow'>
            </div>
            <div class='card content' ng-view></div>
            <div class='arrow' ng-click='page < 8 && pageChange(1)'>
                <span class='helper'></span><img src='/img/right-arrow.png' alt='Right arrow'>
            </div>
        </div>
        <script src='/router/trialRouter.js'></script>
        <script src='/controller/trialController.js'></script>
        <script src='/controller/userController.js'></script>
    </body>
</html>