<div class='user-body'>
    <input type='text' ng-model='searchFilter' class='search-filter' placeholder='Search name'>
    <div ng-repeat='user in userlist | filter: {name: searchFilter} | orderBy: user.created_timestamp : true'>
        <div class='user' ng-click='selectUser(user.id, $event)'>
            Name: {{user.name}}<br>
            Matrix no: {{user.matrix_no}}
        </div>
    </div>
</div>
